<div class="container marketing mt-5 ">
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <!-- Dog featurette-->
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Symbol Of Loyalty </h2>
        <p class="lead">Dogs are renowned for their loyalty, companionship, and emotional connection with humans.
            They often become integral members of families, providing love, comfort, and support.Dogs serve various roles in society, including as service animals, therapy animals, search and rescue dogs, police dogs, and assistance dogs.
            They have been used historically for tasks such as herding, guarding, and hunting.Dogs are known for their intelligence and ability to be trained.
            They can learn commands, perform tricks, and are often used in roles that require specific training.Dogs are popular pets globally, providing companionship and emotional support to their owners.
            They thrive on human interaction and often form strong bonds with their families.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="static/core/images/dog/dog_feature.jpg" data-holder-rendered="true">
      </div>
    </div>

    <hr class="featurette-divider">

   
    