<div class="container mt-5 x">    <!-- mt-4 stand for top margin from o-5 value -->
    <h1>Pet Categories </h1>
</div>
    <div class="container mt-4">
        <div class="card-deck">
          <!-- Dog card start-->
          <a href="{% url "products" %}" class = "card-img-href" style="text-decoration: none; ">
            <div class="card ml-5 mt-5 mb-5" style="width: 18rem;">
                <img class="card-img-top" src="static/core/images/6870101.jpg" alt="Card image cap">
                <div class="card-body" style= "">
                  <p class="card-text">Dogs are loyal, domesticated mammals known for companionship.</p>
                </div>
              </div>
            </a>
        
      
          
        </div>
    </div>
